/* <!-- SECCION NUESTRA MISION - NOSOTROS --> */

.info {
    display: flex;
}

.info-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

/* <!-- SECCION IMG-NOSOTROS --> */

.img-nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 35px;
}

.img-nosotros img {
    border-radius: 6px;
    box-shadow: 4px 4px 7px 0px #807e7eee;
}