/* HEADER */

.bg-personalizado {
    background-color: black;
    padding: 15px;
}

.nav-link, .navbar-brand {
    color: bisque;
    font-family: 'Castoro Titling', cursive;
    font-size: 20px;
}

.nav-item {
    border-radius: 15px;
    padding: 10px;
    transition: .3s;
}

.nav-item:hover, .navbar-brand:hover {
    background-color: rgb(255, 234, 209);
    border-radius: 15px;
    color: bisque;
}

ul li {
    display: inline-block;
    margin: 0px 10px;
}

ul li a {
    color: bisque;
    font-size: 1.4rem;
}